@model MyPortfolioProjectNight.Models.Testimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Referans Ekleme Sayfası</h2>

<form method="post">

    <label>İsim </label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Fotoğraf Url'si</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Referansı Ekle</button>
</form>
